{% extends "base.html" %}

{% block content %}
    {% if company_details %}
        <table class = "table">
        <thead>
        <tr><th>#</th>
        <th>Ranking Company Name</th>
        <th>Rank </th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in company_details.items %}
            <tr>
            <th scope = "row">{{ forloop.counter }}</th>
            <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
