{% extends "base.html" %}

{% block content %}
    <h1 class = "page-header"> Diversity Index. </h1>
    <br>
    {% if company_rankings_final %}
        <table class = "table">
        <thead>
        <tr><th>#</th>
        <th>Company Rank </th>
        <th>Company Name </th>
        <th>Total Score </th>
        <th>Employee Count </th>
        </tr>
        </thead>
        <tbody>
        {% for a in company_rankings_final %}
            <tr>
            <th scope = "row">{{ forloop.counter }}</th>
            <td>{{ a.final_rank }}</td>
                <td><a href = "/company/{{ a.id }}/">{{ a.name }}</a></td>
            <td>{{ a.score }}</td>
            <td>{{ a.employee_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No Ranking available for the company.</p>
    {% endif %}
    <ul>
        <li><a href= "/company/add_record/" > Input Records </a> <br></li>
    <li><a href="/company/read_records/"> Scrape Records </a> <br></li>
    <li><a href="/company/ranking_company/"> Details about </a> <br></li>
    <li><a href="/company/company_and_ranking_company/"> Want to retrieve record for a particular company from a particular Source.</a></li>
    </ul>
{% endblock %}
