{% extends "base.html" %}

{% block content %}
    <h1 class = "page-header text-center"> Diversity Index. </h1>
    <p class="lead blockquote text-center"> This is a Diversity Index Website that uses Borda Count
    algorithm to calculate the overall diversity score of the Companies.</p>
    <br>
    {% if company_rankings_final %}
        <table id = "rankings" class = "tablesorter table">
        <thead>
        <tr><th>Company Rank </th>
        <th>Company Name </th>
        <th>Diversity Score </th>
        <th>Employee Count </th>
        </tr>
        </thead>
        <tbody>
        {% for a in company_rankings_final %}
            <tr>
            <td>{{ a.final_rank }}</td>
                <td><a href = "/company/{{ a.id }}/">{{ a.name }}</a></td>
            <td>{{ a.score }}</td>
            <td>{{ a.employee_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No Ranking available for the company.</p>
    {% endif %}
    <ul>
        <!-- <li><a href= "/company/add_record/" > Input Records </a> <br></li>
    <li><a href="/company/read_records/"> Scrape Records </a> <br></li> -->
    <li><a href="/company/ranking_company/"> Details about each Ranking Company. </a> <br></li>
    <li><a href="/company/company_and_ranking_company/">Search</a></li>
    </ul>
{% endblock %}
