{% extends 'base.html' %}
{% block content %}
    {% if return_dict %}
        <ul>
        <table id = "rankings" class = "tablesorter table">
        <thead>
        <tr><th>Index</th>
        <th>Company Name</th>
        <th>Rank</th>
        </tr>
        </thead>
        <tbody>
        {% for key,value in return_dict.items %}
            <tr>
            <th scope = "row">{{ forloop.counter }}</th>
                <td><a href = "/company/{{ key.id }}/">{{ key }}</a></td>
                <td> {{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </ul>
    {% endif %}
{% endblock %}