{% extends 'base.html' %}
{% block content %}
    {% if rankings_company %}
        <table id = "rankings" class = "tablesorter table">
            <thead>
            <tr>
                <th>Index</th>
                <th>Ranking Company Name</th>
                <th>Source</th>
                <th>Count</th>
            </tr>
            </thead>
        <tbody>
        {% for ranking_company in rankings_company %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href = "/company/ranking_company/{{ ranking_company.id }}">{{ ranking_company.name }} </a></td>
            <td>{{ ranking_company.source }}</td>
            <td>{{ ranking_company.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}